openapi: 3.0.0
info:
  title: 21hack18 API
  description: winter hackathon
  version: 1.0.0
servers:
  - url: http://localhost:3000/api

tags:
  - name: oauth
  - name: palaces
  - name: templates
paths:
  /oauth/signup:
    post:
      tags:
        - oauth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
  /oauth/login:
    post:
      tags:
        - oauth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
  /oauth/logout:
    post:
      tags:
        - oauth
      responses:
        200:
          description: OK
  /oauth/whoamI:
    get:
      tags:
        - oauth
      summary: 自分のユーザーIDを取得
      responses:
        200: 
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
  /palaces/me/{userID}:
    get:
      tags:
        - palaces
      summary: 自分のpalaceの一覧を取得
      responses:
        200: 
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Palaces"
    post:
      tags:
        - palaces
      summary: palaceを作成
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PalaceRequest"
      responses:
        200:
          description: OK
  /palaces/{palaceID}:
    get: 
      tags:
        - palaces
      summary: 特定のpalaceを取得(いらなそう)
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Palace"
    put:
      tags: 
        - palaces
      summary: 特定のpalaceを修正
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PalaceRequest"
      responses:
        200:
          description: OK
    delete:
      tags:
        - palaces
      summary: 特定のpalaceを削除
      responses:
        200:
          description: OK
  /templates/me/{userID}:
    get:
      tags:
        - templates
      summary: 自分が保持しているtemplateを取得
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Templates"
    post:
      tags:
        - templates
      summary: のtemplateを作成
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateRequest"
      responses: 
        200:
          description: OK
  /templates/{templateID}:
    get:
      tags:
        - templates
      summary: 特定のtemplateを取得(いらなそう)
      responses:
        200: 
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Template"
    put:
      tags:
        - templates
      summary: 特定のtemplateを修正
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateRequest"
      responses:
        200:
          description: OK
    delete:
      tags:
        - templates
      summary: 特定のtemplateを削除
      responses:
        200: 
          description: OK

components:
  schemas:
    LoginRequest:
      type: object
      properties: 
        name: 
          type: string
          description: ユーザー名
        password:
          type: string
      required:
      - name
      - password
    LoginResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
      description: ログインしたらフロントでuserIDはポスト用に保持、名前は表示するから必要
    Me:
      type: object
      properties:
        id:
          type: string
    Palaces:
      type: array
      items:
        $ref: "#/components/schemas/Palace"
      description: ホーム画面で必要
    Palace:
      type: object
      description: 自分の単語が埋め込まれたpalaceの情報。
      properties:
        id:
          type: string
          format: uuid
          description: そのままPUTするときにid必要
        name:
          type: string
        image: 
          type: string
          format: base64
        embededPins:
          type: array
          items:
            $ref: "#/components/schemas/EmbededPin"
        # createdBy:
        #   type: string
        #   format: uuid　フロントが保持できていてpostできれば必要ない
    EmbededPin:
      type: object
      description: 単語とピンのペア
      properties: 
        number:
          type: integer
          description: 整数を表示しないとしても設定
        x:   
          type: number
        y:
          type: number
        word:
          type: string
        memo: 
          type: string
    Templates:
      type: array
      items:
        $ref: "#/components/schemas/Template"
    Template:
      type: object
      description: 単語を含まない記憶の宮殿
      properties:
        id: 
          type: string
          format: uuid
        name: 
          type: string
        image:
          type: string
          format: base64
        pins: 
          type: array
          items:
            $ref: "#/components/schemas/Pin"
          description: ピンの配列
        # memo:
        #   type: string
        createdBy:
          type: string
          format: uuid
      required:
        - id
        - name
        - createdBy
    Pin:
      type: object
      properties:
        number:
          type: integer
          description: orderするのに必要
        x:
          type: number
        y:
          type: number
      description: 単語なしのピン
    TemplateRequest:
      type: object
      properties:
        name: 
          type: string
        image:
          type: string
          format: base644
        pins: 
          type: array
          items:
            $ref: "#/components/schemas/Pin"
          description: ピンの配列
        # memo:
        #   type: string
        createdBy:
          type: string
          format: uuid
      required:
        - id
        - name
        - createdBy
    PalaceRequest:
      type: object
      properties:
        name:
          type: string
        image: 
          type: string
          format: base64
        embededPins:
          type: array
          items:
            $ref: "#/components/schemas/EmbededPin"
        # createdBy:
        #   type: string
        #   format: uuid

